/**************
* Base Styles *
**************/

* {
  box-sizing: border-box;
}

body {
  background: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
}

main {
  width: 100%;
  background: #fff;
  padding: 20px 0 40px;
}

footer p,
header p {
  color: #b3b3b3;
}

span {
  font-weight: bold;
  color: #999;
}

a {
  text-decoration: none;
  color: #000;
}

.important {
  text-transform: uppercase;
}

.main-nav li {
  text-transform: uppercase;
  background: #fff;
  padding: 15px 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

.footer-nav {
  display: none;
}



/*********************
* Base Layout Styles *
*********************/

main img {
  max-width: 100%;
}

header {
  padding-bottom: 25px;
}

header h1 {
  padding: 10px;
}

.wrapper {
  width: 90%;
  margin: auto;
  text-align: center;
}

.main-nav {
  display: flex;
  flex-direction: column;
}

.intro img {
  width: 70%;
  margin: 40px 0 10px;
  max-height: 255px;
  /*border: 10px solid blue;*/
}

.col {
  margin: 40px 0 10px;
}

.main-contact {
  min-height: calc(100vh - 301.978px - 133.3438px);
}

.contact-info {
  padding: 40px 0;
}

.contact-message {
  padding: 10px 0;
}

.contact-footer {
  padding-top: 60px;
}

.footer-controls {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #b3b3b3;
  padding: 5px 0;
}



/***********
* Clearfix *
***********/

.clearfix::after {
	content: " ";
	display: table;
  clear: both;
}



/****************
* Media Queries *
****************/

@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .main-nav li {
    background: none;
    margin-left: 30px;
  }

  .intro {
    display: flex;
  }

  .intro img {
    width: 45%;
    margin: 30px 0;
    padding: 0 5px;
  }

  .intro p {
    order: -1;
    width: 55%;
    text-align: left;
    margin: 30px 0;
    padding: 0 5px;
  }

  header h1 {
    padding: 0;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
  }

  .col {
    width: 50%;
    padding: 0 5px;
  }

  .col p {
    width: 90%;
    margin: auto;
  }

  .main-contact {
    min-height: calc(100vh - 167.875px - 133.3438px);
  }

  .contact-message {
    width: 70%;
    margin: auto;
  }

  .footer-controls .important {
    display: none;
  }

  .footer-nav {
    display: flex;
    align-items: center;
  }

  .footer-nav li {
    margin-left: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 90%;
    margin: auto;
  }

  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .intro p {
    padding-right: 20px;
  }

  .intro img {
    padding-left: 20px;
  }

  .col {
    width: calc(100% / 3);
  }

  .main-contact {
    min-height: calc(100vh - 110.875px - 133.3438px);
  }

  .contact-message {
    width: 50%;
  }
}
